@font-face {
    font-family: 'Startup-Bold';
    src: url('../assets/fonts/Startup-Bold.otf') format('otf');
}

@font-face {
    font-family: 'Startup-Regular';
    src: url('../assets/fonts/Startup-Regular.otf') format('otf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-regular {
    background-image: url(../assets/images/DARE.png);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    mix-blend-mode: multiply;
    z-index: 1;
}

.logo-regular-index {
    background-image: url(../assets/images/DARE.png);
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    mix-blend-mode: multiply;
    z-index: 1;
    display: flex;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
body {
    font-family: 'Startup-Regular', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,33,55);
    background: -moz-linear-gradient(0deg, rgba(2,33,55,1) 11%, rgba(27,69,93,1) 31%, rgba(47,98,124,1) 43%, rgba(61,118,145,1) 51%, rgba(58,130,153,1) 57%, rgba(55,143,162,1) 64%, rgba(55,143,162,1) 94%);
    background: -webkit-linear-gradient(160deg, rgba(2,33,55,1) 11%, rgba(27,69,93,1) 31%, rgba(47,98,124,1) 43%, rgba(61,118,145,1) 51%, rgba(58,130,153,1) 57%, rgba(55,143,162,1) 64%, rgba(55,143,162,1) 94%);
    background: linear-gradient(160deg, rgba(2,33,55,1) 11%, rgba(27,69,93,1) 31%, rgba(47,98,124,1) 43%, rgba(61,118,145,1) 51%, rgba(58,130,153,1) 57%, rgba(55,143,162,1) 64%, rgba(55,143,162,1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022137",endColorstr="#9fdbdb",GradientType=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
}

.background-wave {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.45;
    background: url('../assets/images/wave.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;

}

.container-fluid-index {
    height: 100vh;
    margin-top: 15em; /*center logo horizontally*/
}

.button-container {
    border: 0;
    background: transparent;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out;

}

.button-container:hover {
    transform: translate(-50%, -50%);

}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.call-to-action {
    border: 0;
    background: transparent;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15em;
    animation: floatAnimation 2s infinite;
    font-family: Startup-Regular;
    color: #244257;
}

.call-to-action:hover {
    color:#244257;
    border: 0;
    background: transparent;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 17em;
    animation: floatAnimation 2s infinite;
    font-size: large;
}

.box {
    position: relative;
}

.box .element-morph-lines {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: hard-light;
}

.element-morph-lines {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-gradient {
    background: linear-gradient(179deg, #102937 55%, #2f2f2f 55%, #102937 20%);
    opacity: 0.85;

}

.card-box {
    width: 60vw;
    border-radius: 0px;
    display: flex;
    margin: 0 auto;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px !important;
    box-sizing: border-box;
    color: #EDF5F7;
    border: 0;
    height: 7em;
    transition: 0.8s ease;
}

.card a {
    align-items: center;
    justify-content: center;
   }

.first-card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.first-card a {
    border-right: 1px solid #EDF5F7 !important;
    padding-right: 2em;
    align-items: center;
    justify-content: center;
}

.first-card:hover a {
    border-right: none !important;
}


.last-card {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.last-card a {
    border-left: 1px solid #EDF5F7 !important;
    padding-left: 2em;
    align-items: center;
    justify-content: center;
}
.last-card:hover a {
    border-left: none !important;
}
 .bg-gradient:hover {
    background: #102937;
    height: auto;
    opacity: 0.95;
    height: 10em;
    border: 0;
}

.card:hover {
    border-radius: 0;
    border-right: 1px solid #EDF5F7 !important;
}
.card:hover a {
    position: absolute;
    top: 5px;
    left: 0px;
    border: 0;
    padding: 0.7rem;
    font-family: 'Startup-Bold';
    font-size: larger;
    background: -webkit-linear-gradient(135deg, #f4fefe, #e1fafa, #cdf5f5, #f4fefe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.95;
    display: inline-block;
}

.card:hover p {
    position: absolute;
    top: 3em;
    left: 0;
    display: block;
    padding: 1em;
    font-size: 0.7rem;
}

.card:hover p.hidden {
    display: block;
    text-align: left;
    margin-left: 0;
    border: none;
}


.hidden {
    display: none;
}
.visible {
    display: block;
    color: #EDF5F7;
}
.text-white {
    color: #EDF5F7 !important;
}

.hidden-cards {
    display: none;
}

.smaller-logo {
    transform: scale(0.5);
}

.larger-bg-gradient  {
    opacity: 0.55;
    margin: 0 auto;
}

.transparency-section {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 0.55em;
    width: 80%;
}


.transparency-text {
    color: #EDF5F7;
    text-align: left;
    font-size: 1em;
}

.footer {
    background: #061829;
    mix-blend-mode: multiply;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.text-info {
    margin-left: 0.5em;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/*media queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    .logo-regular {
        transform: scale(0.8);
        max-width: 100%;
        margin-top: 2em;
        margin-bottom: 0;
    }

    .bg-gradient {
        border-radius: 15px;
        margin-bottom: 0.5rem;
        padding-left: 0.5rem;
    }

    .call-to-action:hover {
        font-size: smaller;
    }
    .card-container {
        margin-bottom: 0;
    }

    .card a {
        border: 0px;
    }

    .text-info {
        flex-direction: row;
        display: flex;
        font-size: smaller;
    }

    .footer {
        height: 4em;
        align-items: center;
        justify-content: center;
        padding: 1em;
        width: 100vw;
        flex-direction: column;
        margin: 0 auto;
    }

    .footer p {
        display: flex;
        flex-direction: column;
        font-size: 0.5em;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 1em;
    }

    .footer a {
        margin: 0;
        padding: 0;
    }

    .footer span {

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .logo-regular {
        transform: scale(0.8);
        max-width: 100%;
        margin-top: 2em;
        margin-bottom: 0;
    }

    .bg-gradient {
        border-radius: 15px;
        margin-bottom: 0.5rem;
        padding-left: 0.5rem;
    }

    .call-to-action:hover {
        font-size: smaller;
    }
    .card-container {
        margin-bottom: 0;
    }

    .card a {
        border: 0px;
    }

    .text-info {
        flex-direction: row;
        display: flex;
        font-size: smaller;
    }

    .footer {
        height: 4em;
        align-items: center;
        justify-content: center;
        padding: 1em;
        width: 100vw;
        flex-direction: column;
        margin: 0 auto;
    }

    .footer p {
        display: flex;
        flex-direction: column;
        font-size: 0.5em;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 1em;
    }

    .footer a {
        margin: 0;
        padding: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.logo-regular {
    transform: scale(0.8);
    max-width: 100%;
    margin-top: 2em;
    margin-bottom: 0;
}

body{
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
}


.footer {
    position: absolute;
}

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logo-regular {
    transform: scale(0.5);
    height:50vh;
    max-width: 100%;
}

.transparency-section {
    font-size: 1em;
}
}